*{
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif
}

/*SE NECESITA WIDTHSIDEBAR PARA LA CLASE MARGIN-LEFT*/
:root{
  --widthSideBar: 100px;

  @media screen and (width < 788px) {
    --widthSideBar: 60px;
  }
}

body{
  height: 100vh;
  margin: 0;
}

header{
  background-color: black;
}

h1{
  margin: 0;
  padding: 0.67em;
  color:white;
  /* text-shadow: 5px black; */
  letter-spacing: 5px;
  font-family: 'Star Wars', sans-serif;
  text-align: center;
}

/*PRIMERA COLUMNA*/
.indexes{
  font-size: large;
  font-weight: bold;
  --thickLine: 3px;
  --padding-right: 20px;
  padding-right: var(--padding-right);
  width: var(--widthSideBar);
  text-align: end;

  @media screen and (width < 788px) {
    --padding-right: 10px;
  }


  &::after{
    --sizePoint: 15px;
    content: "";
    position: absolute;
    background-color: #fffc57;
    border: 3px solid #5e5e5e;
    width: var(--sizePoint);
    height: var(--sizePoint);
    border-radius: 50%;
    transform: translate( calc(var(--padding-right) + var(--thickLine)/2 - var(--sizePoint)/2 - 2.5px) , 0 );
  }

  &::before{
    content: "";
    position: absolute;
    background-color: #5e5e5e;
    width: 3px;
    height: 100%;
    top: 0;
    left: var(--widthSideBar);
  }
}

/*TARJETAS CON INFORMACIÓN*/
.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  --margin-left-first-column: 2em;

  .row{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-top: 1px solid #5e5e5e;
  }

  .card{
    background-color: white;
    display: flex;
    width: calc((100% - (var(--widthSideBar)) - var(--margin-left-first-column))/3.5);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    padding: 0 1em 0 1em;
    margin: 1em 0 1em var(--margin-left-first-column);
    border-radius: 0.4em;

    .circle-inside{
      margin: 1.5em 1em 0 0.5em;
      padding: 1em;
      height: 1em;
      border-radius: 50%;
    }

    &.margin-left{
      margin-left: calc(var(--widthSideBar) + var(--margin-left-first-column));
    }
  }

  @media screen and (width < 788px) {
    --margin-left-first-column: 1em;
    .card{
      width: calc(100% - var(--widthSideBar) - var(--margin-left-first-column));
    }
  }
}

#first-group{
  background-color: #ffb6ae;
  .circle-inside{
    background-color: #fa8072;
  }
}

#second-group{
  background-color: #c1ffc1;
  .circle-inside{
    background-color: #90ee90;
  }
}

#third-group{
  border-bottom: 1px solid #5e5e5e;
  background-color: #a0d9ff;
  .circle-inside{
    background-color: #87cefa;
  }
}
